<!DOCTYPE html>
<html lang="en">
<head>
  <title>TalentSoup Help - {{ page.title }}</title>
  <meta name="author" content="TalentSoup" />
  <meta name="description" content="FAQ and Help for TalentSoup.com" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/site.css" type="text/css" media="screen, projection" />
  <link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="group main header">
    <div class="container">
      <!-- header -->
      <div class="row">
        <div class="span3"><a href="https://help.talentsoup.com"><img src="/assets/images/art-ts-logo-big.png" width="100%"/></a></div>
	<div class="span9">
	  <ul class="nav nav-pills pull-right">
	    <li><a href="https://talentsoup.com/featured">featured<br/>clients | talent</a></li>
	    <li><a href="http://blog.talentsoup.com">the<br/>blog</a></li>
            <li><a href="http://work.talentsoup.com">see our<br/> talent @ work</a></li>
	    <li><a href="https://talentsoup.com/search">we serve:<br/>Producers</a></li>
	    <li><a href="https://talentsoup.com/talent_home">we serve:<br/>Talent</a></li>
	    <li><a href="https://talentsoup.com/agencies">we serve:<br/>Talent Agencies</a></li>
          </ul>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .group.main -->
		
		
  <div class="container">
    <div style="margin-top:20px;">
      <header class="jumbotron subhead">
        <h1>Need Help? Got a Question? Start Here.</h1>
      </header>
    </div>
			
    <div class="group main">
      {{ content }}
    </div><!-- .group.main -->
		
    <div class="group footer">
      <div class="container">
        <div class="row">
	  <div class="span4 tso">
	    <img src="/assets/images/art-ts-logo-footer.png"/>
	    <p>&copy; 2012 Creative Commissary, LLC</p>
	  </div><!-- .span4 -->

	  <div class="span2 contact">
	    <h4>Contact</h4>
	    <ul>
	      <li class="phone">877-775-SOUP</li>
	      <li class="email"><a href="mailto:chef@talentsoup.com?subject=Question%20for%20the%Chef" title="Email the chef">Email the Chef</a></li>
	    </ul>
	  </div><!-- .span2 -->

	  <div class="span2 connect">
	    <h4>Connect</h4>
	    <ul>
	      <li><a href="http://twitter.com/talentsoup"><img src="/assets/images/art-icon-twitter.png"/> Follow</a></li>
	      <li><a href="https://www.facebook.com/TalentSoup"><img src="/assets/images/art-icon-facebook.png"/> Befriend</a></li>
	      <li><a href="http://blog.talentsoup.com"><img src="/assets/images/art-icon-blog.png"/> Blog</a></li>
	    </ul>
	  </div><!-- .span2 -->

	  <div class="span2 help">
	    <h4>Help</h4>
	    <ul>
	      <li><a href="https://talentsoup.com/quotes/new"><img src="/assets/images/art-icon-calculator.png" width="16" height="16"/> Talent Calculator</a></li>
	      <li><a href="https://talentsoup.com/forum/faq">FAQ</a></li>
	      <li><a href="https://talentsoup.com/forums">Forums</a></li>
	      <li><a href="http://vimeo.com/talentsoup">How To Videos</a></li>
	    </ul>
	  </div><!-- .span2 -->

	  <div class="span2 legal">
	    <h4>Legal</h4>
	    <ul>
	      <li><a href="https://talentsoup.com/privacy">Privacy</a></li>
	      <li><a href="https://talentsoup.com/termsofservice">Terms & Conditions</a></li>
	    </ul>
	  </div><!-- .span2 -->
	</div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .group -->		 	 
	 
    <script type="text/javascript">
    </script>
  </div>
</body>
</html>
