---
layout: layout
---
<div class="row" style="margin-top:10px;">
  <div class="span8 offset2">
	  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	  <br/>
    {{ content }} 
    <br/>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="talentsoup">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <a href="http://twitter.com/talentsoup" class="twitter-follow-button" data-show-count="false">Follow @talentsoup</a>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>
</div>
